<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<title>PHP Map - Manual</title>
		<meta property="og:title" content="PHP Map" />
		<meta property="og:locale" content="en_US" />
		<meta name="description" content="PHP Map package for easy and elegant handling of PHP arrays as array-like map objects" />
		<meta property="og:description" content="PHP Map package for easy and elegant handling of PHP arrays as array-like map objects" />
		<link rel="canonical" href="https://php-map.org/" />
		<meta property="og:url" content="https://php-map.org/" />
		<script type="application/ld+json">
			{"@type":"WebSite","headline":"map","url":"https://php-map.org/","description":"PHP Map package for easy and elegant handling of PHP arrays as array-like map objects","name":"map","@context":"https://schema.org"}
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#157878">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	</head>
	<body>
		<a id="skip-to-content" href="#content">Skip to the content.</a>

		<header class="page-header" role="banner">
			<h1 class="project-name">PHP Map</h1>
			<h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
			{% if site.github.is_project_page %}
				<a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
			{% endif %}
		</header>

		<main id="content" class="main-content" role="main">
			{{ content }}
		</main>
	</body>
</html>